In [1]:
import pandas as pd
import numpy as np

In [5]:
bimfile=pd.read_csv('Family0042.bim', sep="\t", header=None)

In [11]:
RegionsList=pd.read_csv('RegionsHighLD.txt', sep="\t", header=0)

In [12]:
bimfile.head(2)

   0         1  2       3  4  5
0  1  1:598867  0  598867  T  C
1  1  1:817341  0  817341  A  G

In [13]:
RegionsList.head(2)

   chr      Start       Stop
0    1   47761740   51761740
1    1  125169943  125170022

In [17]:
File_SNPs2Remove=open("SNPs2Remove.txt", "w")
Count = 0

for a in range(len(RegionsList)):
    for i in range(len(bimfile)):
        if bimfile[0][i] == RegionsList["chr"][a]:
          if RegionsList["Start"][a] <= bimfile[3][i] <= RegionsList["Stop"][a]:
            Count = Count + 1
            File_SNPs2Remove.write(f"{bimfile[1][i]}\n")
print(Count)

42746